@charset "EUC-KR";

a {
	text-decoration: none;
	color: #555;
}

#wrap {
	width:1200px;
	height:950px;
	background-color:red;
	margin:0px auto;
}

#header {
	height:100px;
	width: 100%;
}

#mainLogo {
	height:100%;
	width:250px;
	float:left;
}

#header-nav {
	width:950px;
	height:100%;
	float:left;
}

#informMenu {
	height:30px;
	width:100%;
	font-size: 12px;
	padding-top:15px;
	padding-left: 560px;
}

#mainBanner {
	width:1200px;
	height:330px;
	margin-top:5px;
	background-color: blue;
}

#navigation {
	padding-top: 15px;
	height:70px;
	width:100%;
	vertical-align: center;
	text-align: center;
	font-weight: bold;
}

#sub-nav {
	height:40px;
	width:100%;
	background-color: #00A2E2;
}
